<#import "/spring.ftl" as spring />
<#include "frames/header.ftl">
<div>
        <#if exception ??>
            <h1 style="margin: auto; width: 100%">${exception}</h1>
        </#if>
    <h1>500</h1>

</div>
<#include "frames/footer.ftl">
