.margin-top-72px {
    margin-top: 72px;
}

.margin-top-36px {
    margin-top: 36px;
}

.padding-36px {
    padding: 36px;

}

.font-weight-bold {
    font-weight: bold
}

.margin-bottom-72px {
    margin-bottom: 72px;
}

.div-container-tour {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    top: 50px;
}

.parameters-tours {
    position: relative;
    top: 25px;
}

.ptofile-contaier-tour {
    position: relative;
    top: 25px;
}

. margin-bottom-10px {
    margin-bottom: 10px;
}

.error-msg-style {
    color: red;
    opacity: 0.6;
}

profile-footer-containr {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    top: 60px;
}

.tours-main-container {
    text-align: center;
    margin-top: 36px;
}

.color-red {
    color: red;
}

.margin-top-16px {
    margin-top: 16px;
}

.index-tours-container {
    position: relative;
    top: 25px;
}

.index-main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    top: 50px;
}

.margin-left-20px {
    margin-left: 20px
}

.admin-button-style {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 20px
}

.margin-bottom-36px {
    margin-bottom: 36px;
}

.links-style-header {
    position: absolute;
    right: 15px;
    top: 18px;
}

.blue-custom {
    color: #338aa2
}

.width100 {
    width: 100%;
}

.margin-bottom700px {
    margin-bottom: 700px
}

.margin-right-20 {
    margin-right: 20px;
}

.mapstyle {
    width: 100%;
    height: 550px
}

.tour-width {
    width: 80%;
    margin-left: 20px
}

.tour-flex {
    display: flex;
    margin-bottom: 32px
}

.form-tour-style {
    border: 1px solid rgba(94, 94, 94, 0.5);
    width: 40%;
    margin-right: 16px;
}